html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    background-color: crimson;
    height:10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: hidden;
}
header div ul{
    float:right;
    list-style-type:none;
    margin-top: 25px;
}
header div ul li{
    display: inline-block;
}
header div ul li a{
    text-decoration:none;
    color:#fff;
    padding:10px;
    border:1px solid #fff; 
    transition: o.6s ease;
}
header div ul li a:hover{
    background-color: #fff;
    color:purple;
}
ul li .active a{
    background-color: #fff;
    color: #000;
}
header .logo{
    float: left;
    height: fit-content;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    overflow: hidden;
    padding:2px;
    border:2px solid #fff;
    width: fit-content;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}
.main{
    max-width: 1200px;
    margin: auto;    
}
#home{
    height:700px;
    background-image: url("./Project Images/Brushes.jpg");
    background-size: cover;
    display:inline-block;
    width:100%;
}

#about{
    height:700px;
    background-color:white;
    display:inline-block;
    width:100%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
#services{
    margin:0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("./Project Images/slide4.jpg");
    background-size: cover;
}
.container{
    width:1200px;
    height:auto;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap:10px;
    padding:10px;
    box-sizing:border-box;
}
.container .box{
    position: relative;
    background: #219e21;
    color: #fff;
    padding:20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius:20px;
}
#contacts{
    height:700px;
    background-image: url("./Salon/Project Images/bgd contacts.jpg");
    background-size: cover;
    display:inline-block;
    width:100%;
}
.contact-title{
    margin-top: 100px;
    color:#fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 40px;
    line-height:10px;
    margin-top:10px;
    margin-left: 38%;
}
.contact-title h2{
    font-size: 28px;
    margin-top: 12px;
    margin-left: 30%;
}
form{
    margin-top:50px;
    transition: all 4s ease-in-out;
    margin-left: 25%;
}
.form-control{
    width:600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 45px;
    margin-top: 20px;
}
.title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.title h2{
    color:#fff;
    font-size: 90px;
    text-transform: uppercase;
}
.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    border:1px solid #fff;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color:purple;
}
.img-wrap{
    width:65%;
}
.img-wrap img{
    width:65%;
    padding:5px;
    border-radius:25%;
    box-shadow:0 0 4px #999999;
    float: left;
}
span{
    font-style: italic;
    text-align: center;
    color: black;
}
.quote{
    color: red;
    font-weight: bold;
}
h4{
    color: red;
    font-weight: bold;
}
.history{
    font-size:20px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
}
#about h3{
    color: rgb(3, 3, 51);
    text-decoration:underline;
}
#services h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}
